body {
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
  background-color: #171718;
  font-size: 14px;
  color: black;
}

.container-fluid.app {
  .header {
    color: white;
    box-shadow: -1px 5px 7px 3px rgba(0, 0, 0, 0.12);
    background-color: #2e2e2e;
    padding: 16px;
    height: 64px;
    font-size: 18px;
  }

  .app-content {
    padding: 16px;
  }


  .pane {
    color: white;
    background-color: #28292e;
    border-radius: 3px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);
  }

  .tool-pane {
    padding: 8px;
    max-width: 412px;

    .value-input {
      padding: 8px;
      margin: 4px;
      width: 100%;
      //max-width: 312px;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background-color: #4b4b4b;
      border-radius: 1.8px;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);

      .label {
        font-style: italic;
        width: 72px;
        overflow: hidden;
      }

      .input-value {
        margin-left: 4px;
        margin-right: 4px;
        font-size: 12px;
        padding: 2px 2px 2px 4px;
        width: 38px;
        text-align: right;
        background-color: rgba(255, 255, 255, 0.22);
        border: thin solid rgba(255, 255, 255, 0.51);
        color: white;
        border-radius: 2.6px;
      }
    }
  }

  .viewport {
    padding: 0;
  }

}

canvas {
  background-color: black;
}


